extends baseEmail 

block content 
    p Hi there,
    p This is your reset password link:  #{resetToken}

    
    p For questions and enquiries you can reach us via-
    p email: help@traverse.com
        