extends baseEmail

block content
    p Hi #{name},
    p Congratulations! The #{projectName} project was successfully created!

    p For questions and inquiries, you can reach us via:
    p Email: help@traverse.com
